@font-face {
  font-family: FuturaMD;
  font-display: swap;
  src: url('../fonts/Futura_20Medium_20BT.woff2') format('woff2'),
    url('../fonts/Futura_20Medium_20BT.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FuturaBkBt;
  font-display: swap;
  src: url('../fonts/FuturaBookBT.woff2') format('woff2'),
    url('../fonts/FuturaBookBT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FuturaLtOn;
  font-display: swap;
  src: url('../fonts/FuturaLightCondensedBT.woff2') format('woff2'),
    url('../fonts/FuturaLightCondensedBT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FuturaHv;
  font-display: swap;
  src: url('../fonts/FutuHv.woff2') format('woff2'),
    url('../fonts/FutuHv.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FuturaX;
  font-display: swap;
  src: url('../fonts/FuturaExtraBlackCondensedItalicBT.woff2') format('woff2'),
    url('../fonts/FuturaExtraBlackCondensedItalicBT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
